#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo {
  background-color: rgba(0, 0, 0, 0.8);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}

.background {
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
}

.background-19 {
  background-image: url("https://526f3aa295ab4d51.blob.core.windows.net/images/Background 1440p-19.jpg");
}

.background-3 {
  background-image: url("https://526f3aa295ab4d51.blob.core.windows.net/images/Background 1440p-3.jpg");
}

.background-30 {
  background-image: url("https://526f3aa295ab4d51.blob.core.windows.net/images/Background 1440p-30.jpg");
}

.background-49 {
  background-image: url("https://526f3aa295ab4d51.blob.core.windows.net/images/Background 1440p-49.jpg");
}

.background-59 {
  background-image: url("https://526f3aa295ab4d51.blob.core.windows.net/images/Background 1440p-59.jpg");
}

.background-60 {
  background-image: url("https://526f3aa295ab4d51.blob.core.windows.net/images/Background 1440p-60.jpg");
}

.background-61 {
  background-image: url("https://526f3aa295ab4d51.blob.core.windows.net/images/Background 1440p-61.jpg");
}

.background-63 {
  background-image: url("https://526f3aa295ab4d51.blob.core.windows.net/images/Background 1440p-63.jpg");
}

.background-64 {
  background-image: url("https://526f3aa295ab4d51.blob.core.windows.net/images/Background 1440p-64.jpg");
}

.background-96 {
  background-image: url("https://526f3aa295ab4d51.blob.core.windows.net/images/Background 1440p-96.jpg");
}

.background-98 {
  background-image: url("https://526f3aa295ab4d51.blob.core.windows.net/images/Background 1440p-98.jpg");
}

.comingsoon {
  font-size: 9vw;
  text-shadow: 2px 2px 5px #000;
}
.circle {
  height: 266.5px;
  width: 280px;
  -moz-border-radius: 5%;
  -webkit-border-radius: 5%;
  border-radius: 5%;
  overflow: hidden;
  margin: 0 auto;
}
iframe {
  overflow: hidden;
  display: block;
  height: 266.5px;
}
